network:
  version: 2
  ethernets:
    eth0:
      dhcp4: no
      addresses: [{{ lxd_container_ip }}/24]
      gateway4: {{ lxd_container_ip.split('.')[:-1] | join('.') }}.1
      nameservers:
        addresses: [8.8.8.8,4.4.4.4]
