[Unit]
Description=NFS bind no. {{ loop_idx }}
{% if nfs_client_service_bindsto != '' %}
BindsTo={{ nfs_client_service_bindsto }}
{% endif %}
After={{ nfs_client_service_after }}

[Mount]
What={{ item.source }}
Where={{ item.target }}
Type=nfs
TimeoutSec=245s
Options=_netdev,auto{% if nfs_client_service_fsc %},fsc{% endif %}{% if item.uid is defined %},uid={{ item.uid }}{% endif %}{% if item.gid is defined %},gid={{ item.gid }}{% endif %}

[Install]
WantedBy=multi-user.target
