[Unit]
Description=NFS bind no. {{ loop_idx }}
{% if nfs_client_service_bindsto != '' %}
BindsTo={{ nfs_client_service_bindsto }}
{% endif %}
After={{ nfs_client_service_after }}

[Mount]
What={{ item.source }}
Where={{ item.target }}
Type=nfs
TimeoutSec=240s
Options=_netdev,auto{% if nfs_client_service_fsc %},fsc{% endif %}


[Install]
WantedBy=multi-user.target
