# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default
# This is also true if you have upgraded from before 2.2.9-3 (i.e. from
# Debian etch). See /usr/share/doc/apache2.2-common/NEWS.Debian.gz and
# README.Debian.gz

{% if apache_http_port is defined %}
    NameVirtualHost *:{{apache_http_port}}
    Listen {{ apache_listen_address }}:{{apache_http_port}}
{% else %}
	NameVirtualHost *:80
	Listen {{ apache_listen_address }}:80
{% endif %}

{% if apache_enable_https | bool %}
    <IfModule mod_ssl.c>
        # If you add NameVirtualHost *:443 here, you will also have to change
        # the VirtualHost statement in /etc/apache2/sites-available/default-ssl
        # to <VirtualHost *:443>
        # Server Name Indication for SSL named virtual hosts is currently not
        # supported by MSIE on Windows XP.
        {% if apache_https_port is defined %}
            NameVirtualHost *:{{apache_https_port}}
            Listen 0.0.0.0:{{apache_https_port}}
        {% else %}
            NameVirtualHost *:443
            Listen {{ apache_listen_address }}:443
        {% endif %}
    </IfModule>

    <IfModule mod_gnutls.c>
        {% if apache_https_port is defined %}
            Listen {{ apache_listen_address }}:{{apache_https_port}}
        {% else %}
            Listen {{ apache_listen_address }}:443
        {% endif %}
    </IfModule>
{% endif %}