# {{ ansible_managed }}
# we only listen on localhost and allow localhost to connect
# you must use SSL tunnel to access this info elsewhere
set httpd port 2812 and
    use address 127.0.0.1
    allow localhost
